/* Define variables in :root for global scope */
:root {
    --sliderWidth: 100px;
    /* width: var(--sliderWidth); */
    /* height: var(--sliderHeight);  */
    --sliderHeight: 50px;
}

body{
    margin: 0;
    background-color: #000;
}




main.infiniteSlider{
    width: min(1200px, 90vw);
    margin: auto;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    &[reverse="true"] .item{
        animation: reversePlay var(--speed) linear infinite;
    }
    .list{
        display: flex;
        width: 100%;
        min-width: calc(var(--width) * var(--quantity));
        position: relative;
        .item{
            width: var(--width);
            height: var(--height);
            position: absolute;
            left: 100%;
            animation: autoRun var(--speed) linear infinite;
            transition: filter 0.5s;
            animation-delay: calc( (var(--speed) / var(--quantity)) * (var(--position) - 1) - var(--speed))!important;
            img{
                aspect-ratio: 1 / 1;
                object-fit: cover;
                width: 65%;
                height: 65%;
            }
            &:hover{
                filter: grayscale(0);
            }
        }
        &:hover .item{
            animation-play-state: paused!important;
            filter: grayscale(1);
        }
        & .item:hover{
            filter: grayscale(0);
        }
        &[reverse="true"] .item{
            animation: reversePlay var(--speed) linear infinite;
        }
    }
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}